#map {
  position: relative;
  height: 640px;
  width: 960px;
}

#sidebarContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

#sidebar {
  width: 200px;
  height: 300px;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  margin-bottom: 10px;
}

#sidebarList {
  width: 200px;
  height: 300px;
  background-color: #cca8a8;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
} 

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  