
form input[type="text"],
form input[type="password"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30%;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-family: Arial, sans-serif;
}

label {
  font-family: Arial, sans-serif;
}
form input[type="submit"] {
  background-color:#7b2a2a;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

form input[type="submit"]:hover {
  background-color: #905e5e;
}

.create{
  margin-bottom: 50px;
  margin-left: 20px;
}
