input[type="text"] {
    width: 400px;
    height: 40px;
    font-size: 24px;
}

textarea {
    width: 400px;
    height: 160px;
    font-size: 24px;
    resize: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
    margin-right: 50px;
}

h1 {
    align-self: flex-end;
}

button {
    align-self: end;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
    margin-right: 50px;
}



.container-main {
    width: 300px; 
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    float: left; 
    clear: both; 
}

.container-main h2 {
    margin-top: 0;
}

.container-main p {
    margin-bottom: 0;
}

.container-main .member {
    text-align: right;
}