/* Style for the checkbox container */
.checkbox-container {
    display: inline-block;
    column-count: 2;
    column-gap: 20px;
    max-width: 100%; /* Set a maximum width */
}

/* Style for the checkboxes */
.checkbox-container input[type="checkbox"] {
    width: calc(50% - 10px); /* Set a width for the checkboxes */
    margin-right: 5px;
}


button{
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #7b2a2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
p {
    font-family: Arial, sans-serif;
}

label {
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
  }