header {
    background-color: white;
    height: 100px;
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 30px;

}
  
.header-wrapper {
    max-width: 1200px;
    padding-bottom: 50px;
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    flex: 1;
    text-align: center;
    margin-right: auto;
    margin-left: 100px;
}

.logo img {
    height: auto;
    max-width: 100%;
}

a{
    text-decoration: none;
}

.login-link{
    text-transform: uppercase;
    background-color:rgb(168, 164, 164);
    box-shadow: 0 5px 0 rgb(109, 105, 105);
    border: none;
    flex: 0;
    color: rgb(178, 0, 0);
    padding: 15px 25px;
}

.login-link:hover {
    background-color: red;
    cursor: pointer;
}

.login-link:active{
    box-shadow: none;
    top: 5px;
}