/* Style for the form container */
#upload-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  

  button {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #7b2a2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h1, h2, h3, h4  {
    font-family: Helvetica, Arial, sans-serif;
  }

  /* Style for the form labels */
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Style for the file input */
  .file {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    font-size: 16px;
    font-weight: normal;
  }
  
  /* Style for the submit button */
  #button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7b2a2a;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Style for the error message */
  #error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
  }

  h2{
    margin-top: 5%;
    text-align: center;

  }



  