table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }

  .container-main {
    width: 75%; 
    padding: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    height: auto;
    background-color:rgb(180, 175, 175);
  }

.container-main h2 {
    color: rgb(178, 0, 0);
    margin-top: 0;
}

.container-main p {
    color: black;
    margin-bottom: 0;
}

.container-main .member {
    color: rgb(178, 0, 0);
    text-align: right;
}

.container {
    align-self: flex-end;
}

#wrapper {
    margin-left: 5%;
    margin-right: 5%;
    display: flex; /* This will make the two divs display side by side */
    flex-wrap: wrap; /* This will wrap the content to the next line if the container is too narrow */
  }

  #main {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
  }
  
#table {
    width: 75%;
    display: inline-block; /* or inline-flex */
    box-sizing: border-box; /* This will make sure that padding and border do not increase the total width */
}